@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Page";
}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<style>
    .blocktext {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;

    }
    .contact-info {
        text-align: center;
        padding: 20px;
        background-color: rgb(0,170,240);
    }
</style>

<div class="row">
    <h1>About</h1>
</div> 

<br>
<br>

<div>
    <p class="blocktext">SportsPro is a startup company that was founded in 2010, which started as a small business ran by 4 co-founders.</p>
</div>
<img src="~/css/AboutImages/CoFounders.jpg" class="img-responsive" alt="four co-founders taking group photo" width="560">


<br>
<br>

<div>
    <p class="blocktext">Today, we are a company that has grown quickly in size, with over 100+ employees currently employed!</p>
</div>

<img src="~/css/AboutImages/Employees.jpg" class="img-responsive" alt="Employees in an office setting" width="890">

<br>

<div>
    <p class="blocktext">Our company consists of many experienced professionals in the Technical Support Field. SportsPro is a sports management software for the sports enthusiasts, and have 
        people from all over the world already using our website. This application lets administrators take care and manage the products, technicians, customers, incidents 
        and product registrations they have stored in their databases. Technicians, however, are only able to update incidents that have been assigned to them.
    </p>
</div>

<br>
<br>

<div>
    <p class ="blocktext">If you have any questions or concerns regarding our product, please contact us through the following methods below.</p>
</div>

<img src="~/css/AboutImages/DownArrow.jpg" class="img-responsive" alt="Arrow pointing down" width="80">

<br>

<div style="text-align: center">
    <a class="btn btn-primary btn-xlg contact-info" href="tel:1-800-415-2000">
       Toll-Free Number: 1-800-415-2000
    </a>
    <a class="btn btn-primary btn-xlg contact-info" href="tel:1-800-415-3000">
       Toll-Free Fax: 1-800-415-3000
    </a>
    <a class="btn btn-primary btn-xlg contact-info" href="mailto: Support@SportsPro.com">
       Email: Support@SportsPro.com
    </a>
</div>